@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-autoheight {
    height: 300px;
}

.swiper-button-next {
    display: none;
    right: 0;
}
.swiper-button-prev .swiper-button-disabled {
    display: none;
    left: 0;
    right: 0;
}